@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

